@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Playfair+Display:400');

:root {
	/* Define Colors as colors */
	--green: aquamarine;
	--red: crimson;
	--yellow: yellow;
	--black: #1b2d45;
	--darkBlue: darkblue;
	--grey: gray;
	--darkGray: darkgray;
	--lightGrey: lightgray;

	/* Define Colors intentions */
	--background: var(--lightGrey);
	--textColor: var(--black);
	--lineColor: var(--grey);
	--danger: var(--red);

	/* Styles */
	--line: 1px solid var(--lineColor);

	/* Type */
	--headingFont: 'Playfair Display', serif;
	--bodyFont: 'Open Sans', sans-serif;
	/* --baseFontSize: 100%; 16px */
	--baseFontSize: 112.5%; /*18px */
	--h1: 3.052rem;
	--h2: 2.441rem;
	--h3: 1.953rem;
	--h4: 1.563rem;
	--h5: 1.25rem;
	--h6: 1.111rem;
	--smallText: 0.8rem;

	/* Elevation (Drop Shadows) */
	--level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

	/* Positioning */
	--containerPadding: 1rem;
	--headerHeight: 3rem;
}

html {
	font-size: var(--baseFontSize); /*18px*/
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--bodyFont);
	font-weight: 400;
	line-height: 1.75;
}

header {
	--headerBackground: var(--black);
	background: var(--headerBackground);
	color: white;
	box-shadow: var(--level-2);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

header nav {
	height: var(--headerHeight);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--containerPadding);
}

header a {
	color: white;
	text-decoration: none;
}

header a + a {
	margin-left: 0.5rem;
}

footer {
	--footerTextColor: white;
	color: var(--footerTextColor);
	background: var(--black);
	padding: var(--containerPadding);
	text-align: center;
}

footer a {
	color: var(--footerTextColor);
}

footer p {
	margin: 0;
}

p {
	margin-bottom: 1rem;
}

p a,
blockquote a {
	color: var(--black);
	text-decoration: none;
	border-bottom: 2px solid var(--green);
}

h1, h2, h3, h4, h5, h6 {
	margin: 3rem 0 1.38rem;
	font-family: var(--headingFont);
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: var(--h1);
}

h2 {font-size: var(--h2);}
h3 {font-size: var(--h3);}
h4 {font-size: var(--h4);}
h5 {font-size: var(--h5);}
h6 {font-size: var(--h6);}

small,
.text_small {font-size: var(--smallText);}

blockquote {
	margin: 2rem;
	padding: 1rem;
	box-shadow: var(--level-3);
}

label {
	display: block;
	font-size: var(--smallText);
}

input,
textarea {
	width: 100%;
	padding: 0.5rem;
	border: var(--line);
	border-radius: 4px;
	box-shadow: var(--level-1);
}

textarea {
	height: 5rem;
	/* width: 100%; */
}

::placeholder {
	color: var(--grey);
}

select {
	border: var(--line);
}

hr {
	border-top: var(--line);
}

button {
	--buttonColor: var(--black);
	--textColor: white;
	cursor: pointer;
	appearance: none;
	color: var(--textColor);
	background-color: var(--buttonColor);
	border: none;
	border-radius: 4px;
	padding: 0.5rem 2rem;
	box-shadow: var(--level-1);
	transition: 0.3s ease-in-out box-shadow;
}

button:hover {
	box-shadow: var(--level-2);
}

button[disabled] {
	opacity: 0.4;
	--textColor: var(--lightGrey);
	cursor: not-allowed;
}

button.cancel {
	--buttonColor: var(--danger);
}

button.small {
	font-size: var(--smallText);
}

.layout {
	padding: var(--containerPadding);
	padding-top: var(--headerHeight);
}

.grid {
	--gridCols: 2;
	gap: 0.5rem;
	display: block;
	grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
	--gridCols: 3;
}

.cols-4 {
	--gridCols: 4;
}

.flex {
	--justifyContent: space-between;
	display: flex;
	justify-content: var(--justifyContent);
}

.flex--space-around {
	--justifyContent: space-around;
}

.logo {
	font-size: var(--baseFontSize);
	margin: 0;
}

@media only screen and (min-width: 768px) {
	:root {
		--baseFontSize: 112.5%; /*18px*/
	}
	.grid {
		display: grid;
	}
	.flex {
		display: flex;
	}
}
